body{
	background: url("background.jpg"); 
text-align: center;

}
.logo{

	margin-right: 370px;/*keeps space given in right*/
	border-radius: 50%;/*reduce the edges by 50%*/
}
.craft{
	display: inline-block;/*list the word as boxes in row*/
	display: flex;/*property of css to maintain the list style*/
	flex-direction: row; /*keep the list in row*/
    width: 50%;/*length of the box*/
    height: 100px;/*length of the box*/
    margin-left:1%;/*keep space  given in left*/
    margin-top: 2px;/*keep space given in top*/
}
.sush{
	margin: 30px; 
	border-radius: 50%;

}
.container{
	display: flex;
	flex-direction: row;/*keep the given list in row*/
	margin-bottom: 30px;
}
.left-column{
   width: 48%;
   height: 500px;
   background: url("http://www.hdfondos.eu/pictures/2014/0624/1/sky-blue-background-wallpaper-7980.jpg");
   margin-left: 30px;
   margin-right: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   box-shadow: 15px 15px 15px;/*keep the shadow behind the box*/
}
.first{
	font-size: 22px;
}
.second{
	font-size: 22px;
}
.right-column{
   width: 48%;
   height: 500px;
   background: url("https://www.walldevil.com/wallpapers/a77/background-wallpapers-color-abstract.jpg");
   margin: 20px;
  box-shadow: 15px 15px 15px;/*keep the shadow behind the box*/
}


.box1{

     height: 80px;/*breath of the box*/
	width: 100px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/


}
a :hover{/*change the color when touched by pointer*/
	background: #AADA69;

}
.box2{

	height: 80px;/*breath of the box*/
	width: 100px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/

}
.box3{

	height: 80px;/*breath of the box*/
	width: 100px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/

}
.box4{

	height: 80px;/*breath of the box*/
	width: 100px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/

}
.box5{

	height: 80px;/*breath of the box*/
	width: 100px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/

}
.box6{

	height: 80px;/*breath of the box*/
	width: 120px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/

}



.foot{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;/*maintain the list from start*/
	width: 100%;
	border-top-height: 20px;
	border-top-style: dotted;
}
.h3{
	margin: 10px;
}
@media screen and (max-width: 1000px){/*make the page be responsive and easily viewed on every meida devices*/
	.box1,.box2,.box3,.box4,.box5,.box6{
		height: 40px;
	}
	.craft{
		display: flex;
		flex-wrap: wrap; /*wrap the list given*/
		margin-bottom: 350px;	
	}
	.sush{
		width: 200px;
		height: 200px;
		margin-left: 1px;
	}
	.container{
		flex-direction: column;/*keep the list in column*/
        
	}
	.left-column{
		width: 300px;
		height: 900px;
		margin-left: 20px;/*keeps space in left side*/
	}
	.right-column{
		width: 300px;
		height: 900px;
	}
	.foot{
		flex-direction: column;
	}
}
