body{
	background: url("home.jpg"); /*keep the selected background*/
text-align: center;

}
.logo{
    
	margin-right: 370px; /*keep space given in right*/
	border-radius: 50%;  /*reduce the edges by 50%*/
}
.craft{
	display: inline-block;/*list the word as boxes in row*/
	display: flex;/*property of css to maintain the list style*/
	flex-direction: row; /*keep the list in row*/
    width: 50%;/*length of the box*/
    height: 100px;/*length of the box*/
    margin-left:1%;/*keep space  given in left*/
    margin-top: 2px;/*keep space given in top*/

}
.quote{
	height: 400px;/*fix the height given*/
	width: 100%;/*fix the width given*/
}
.box1{

	height: 80px;/*breath of the box*/
	width: 100px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/


}
a :hover{/*change the color when touched by pointer*/
	background: #AADA69;

}
.box2{

	height: 80px;/*breath of the box*/
	width: 100px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/

}
.box3{

	height: 80px;/*breath of the box*/
	width: 100px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/

}
.box4{

	height: 80px;/*breath of the box*/
	width: 100px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/

}
.box5{

	height: 80px;/*breath of the box*/
	width: 100px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/

}
.box6{

	height: 80px;/*breath of the box*/
	width: 130px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/

}

.create{
font-family: cursive;/*write in different style*/
color: pink;
}
.deep{
	font-family: cursive;/*text writting style*/
	color: white;/*choos the color*/
}
.foot{
	display: flex;/*property of css to maintain the list style*/
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	border-top-height:1px;/*fix the height of the border*/
	border-top-style: dotted;/*keep border in dotted style*/
}
.h3{
	margin: 10px;
}

@media screen and (max-width: 700px){/*make responsive in all the media devices*/
	.box1,.box2,.box3,.box4,.box5,.box6{
		height: 40px;
	}
	.craft{
		flex-wrap: wrap;  /*wrap the content choosen*/
		margin-bottom: 350px;
	}
	.foot
	{
		flex-direction: column; /*maintain the list in column*/
	}
}