body{
	background: url("background.jpg"); 
text-align: center;

}
.logo{

	margin-right: 370px;/*keeps space given in right*/
	border-radius: 50%;/*cut the edges by 50%*/
}
.craft{
	display: inline-block;/*list the word as boxes in row*/
	display: flex;/*property of css to maintain the list style*/
	flex-direction: row; /*keep the list in row*/
    width: 50%;/*length of the box*/
    height: 100px;/*length of the box*/
    margin-left:1%;/*keep space  given in left*/
    margin-top: 2px;/*keep space given in top*/
}
.box1{

	height: 80px;/*breath of the box*/
	width: 100px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/


}
a :hover{/*change the color when touched by pointer*/
	background: #AADA69;

}
.box2{

	height: 80px;/*breath of the box*/
	width: 100px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/

}
.box3{

	height: 80px;/*breath of the box*/
	width: 100px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/

}
.box4{

	height: 80px;/*breath of the box*/
	width: 100px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/

}
.box5{

	height: 80px;/*breath of the box*/
	width: 100px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/

}
.box6{

	height: 80px;/*breath of the box*/
	width: 130px;/*lenght of the box*/
	background: #75B2AF;/*attatch a background colour*/
	margin: 10px 10px 10px 10px;/*keep margin in all the sides*/

}
.cover{
	margin-top: 50px;
}
.intro{
	margin-top: 20px;/*keep space in top*/
	margin-right: 90%;
	font-size: 30px;/*fix the size of the text*/
}
.introduction{
font-size: 20px;
}
.WF{
	margin-top: 20px;
	margin-right: 75%;
	font-size: 30px;/*fix the size of the text*/
}
.wireframes{
	font-size: 20px;/*fix the size of the text*/
}

.pad{
	display: flex;
	flex-direction: row;
}

.design{
	margin-top: 20px;
	margin-right: 70%;
	font-size: 30px;
}
.mock{
	font-size: 20px;/*fix the size of the text*/
}
.top{
	margin-top: 20px;
	margin-right: 70%;
	font-size: 30px;/*fix the size of the text*/
}
.palm{
	margin-top: 20px;
	margin-right: 70%;
	font-size: 30px;
}

.valid{
	margin-top: 20px;
	margin-right: 80%;
	font-size: 30px;/*fix the size of the text*/
}
.val{
	font-size: 20px;/*fix the size of the text*/
}
.tlink{
	margin-top: 20px;
	margin-right: 90%;
	font-size: 30px;
}
.conclude{
	margin-top: 20px;
	margin-right: 80%;
	font-size: 30px;
}
.conc{
	font-size: 20px;
}
.foot{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	border-top-height: 10px;
	border-top-style: dotted;
}
.h3{
	margin: 10px;
}
@media screen and (max-width: 500px){
	.box1,.box2,.box3,.box4,.box5,.box6{
		height: 40px;
	}
	.craft{
		flex-wrap: wrap;
		margin-bottom: 350px;	
	}
	.cover{
		width: 300px;
		height: 500px;
		margin-left: 2px;
		margin-bottom: 100px;
	}
	.first{
		flex-direction: column;
	}
    .second{
    	flex-direction: column;
    }
    .desk{
    	flex-direction: column;
    }
    .desktop{
    	flex-direction: column;
    }
    .vfirst{
    	flex-direction: column;
    }
     .vsecond{
    	flex-direction: column;
    }
     .vthird{
    	flex-direction: column;
    }
	.foot{
		flex-direction: column;

	}
}